1. Loading Required Libraries

In [161]:
#Data Manipulation
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt

2. Loading the data

In [162]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv').set_index('DR_NO')

3. Initial Data Inspection

In [163]:
#Checking file structure
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1005050 entries, 190326475 to 250504051
Data columns (total 27 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Date Rptd       1005050 non-null  object
 1   DATE OCC        1005050 non-null  object
 2   TIME OCC        1005050 non-null  int64
 3   AREA            1005050 non-null  int64
 4   AREA NAME       1005050 non-null  object
 5   Rpt Dist No     1005050 non-null  int64
 6   Part 1-2        1005050 non-null  int64
 7   Crm Cd          1005050 non-null  int64
 8   Crm Cd Desc     1005050 non-null  object
 9   Mocodes         853358 non-null   object
 10  Vict Age        1005050 non-null  int64
 11  Vict Sex        860330 non-null   object
 12  Vict Descent    860318 non-null   object
 13  Premis Cd       1005034 non-null  float64
 14  Premis Desc     1004462 non-null  object
 15  Weapon Used Cd  327234 non-null   float64
 16  Weapon Desc     327234 non-null   object
 17  Status          1005049 non-null  object
 18  Status Desc     1005050 non-null  object
 19  Crm Cd 1        1005039 non-null  float64
 20  Crm Cd 2        69142 non-null    float64
 21  Crm Cd 3        2315 non-null     float64
 22  Crm Cd 4        64 non-null       float64
 23  LOCATION        1005050 non-null  object
 24  Cross Street    154234 non-null   object
 25  LAT             1005050 non-null  float64
 26  LON             1005050 non-null  float64
dtypes: float64(8), int64(6), object(13)
memory usage: 214.7+ MB

In [164]:
#Checking firts 5 rows
df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
DR_NO,,,,,,,,,,,,,,,,,,,,,
190326475,3/1/20 12:00 AM,3/1/20 12:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
200106753,2/9/20 12:00 AM,2/8/20 12:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
200320258,11/11/20 12:00 AM,11/4/20 12:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
200907217,5/10/23 12:00 AM,3/10/20 12:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
200412582,9/9/20 12:00 AM,9/9/20 12:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [165]:
df.isnull().sum()

Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151692
Vict Age                0
Vict Sex           144720
Vict Descent       144732
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677816
Weapon Desc        677816
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935908
Crm Cd 3          1002735
Crm Cd 4          1004986
LOCATION                0
Cross Street       850816
LAT                     0
LON                     0
dtype: int64

4. Data Cleaning

In [166]:
#Creating a list with unwanted columns
unwanted_columns = [
    'Part 1-2','Crm Cd','Crm Cd 1','Crm Cd 2','Crm Cd 3',
    'Crm Cd 4','LOCATION','Cross Street','Premis Cd','Weapon Used Cd',
    'Rpt Dist No','AREA','Status','Premis Desc'
]

#Removing said columns
df.drop(columns=unwanted_columns,inplace=True)

In [167]:
#Filling Unknown values for categorical columns
columns_to_fill = ['Mocodes', 'Vict Sex', 'Vict Descent', 'Weapon Desc']
df[columns_to_fill] = df[columns_to_fill].fillna('Unknown')

5. Data Filtering

In [168]:
#Removing rows where victim age is greater than 0 and not equal to 120
df_cleaned = df[(df['Vict Age']>0) & (df['Vict Age'] != 120) & (df['LAT'] != 0)]

6. Data Standardization

In [169]:
#Standardizing column names

standardized_columns = {
    'Date Rptd':'Date Reported',
    'DATE OCC':'Date Occurred',
    'TIME OCC':'Time Occurred',
    'AREA NAME':'Area Name',
    'Crm Cd Desc':'Crime Description',
    'Mocodes':'Modus Operandi',
    'Vict Age':'Victim Age',
    'Vict Sex':'Victim Sex',
    'Vict Descent':'Victim Ethnicity',
    'Premis Desc':'Location of Crime',
    'Weapon Desc':'Weapon Used',
    'Status Desc':'Status of case',
    'LAT':'Latitude',
    'LON':'Longitude'
}

df_cleaned.index.name = "Division of Records #"

#Applying dict to columns
df_cleaned= df_cleaned.rename(columns=standardized_columns)

In [170]:
#Removing time from dates

df_cleaned['Date Occurred'] = pd.to_datetime(df_cleaned['Date Occurred'], format='%m/%d/%y %I:%M %p').dt.date
df_cleaned['Date Reported'] = pd.to_datetime(df_cleaned['Date Reported'], format='%m/%d/%y %I:%M %p').dt.date

In [171]:
#Standardizing sex column values

def standardized_sexes(sex):
    sex = str(sex).strip().upper()  # Normalize input

    if sex == 'M':
        return 'Male'
    elif sex == 'F':
        return 'Female'
    elif sex in ['X', 'H', '-']:
        return 'UNKNOWN'
    else:
        return sex  

df_cleaned['Victim Sex'] = df_cleaned['Victim Sex'].apply(standardized_sexes)

In [172]:
#Standardizing Ethnicity column values

standardized_ethnicity = {
    "-":'Unknown',
    "A": "Other Asian",
    "B": "Black",
    "C": "Chinese",
    "D": "Cambodian",
    "F": "Filipino",
    "G": "Guamanian",
    "H": "Hispanic/Latin/Mexican",
    "I": "American Indian/Alaskan Native",
    "J": "Japanese",
    "K": "Korean",
    "L": "Laotian",
    "O": "Other",
    "P": "Pacific Islander",
    "S": "Samoan",
    "U": "Hawaiian",
    "V": "Vietnamese",
    "W": "White",
    "X": "Unknown",
    "Z": "Asian Indian"
}

#Applying map to column
df_cleaned['Victim Ethnicity'] = df_cleaned['Victim Ethnicity'].map(standardized_ethnicity).fillna('Unknown')

In [173]:
#creating lists to group the type of weapon used

Bladed_Weapons = [
        'AXE','BOWIE KNIFE','FOLDING KNIFE','KITCHEN KNIFE','KNIFE WITH BLADE 6INCHES OR LESS',
        'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH','MACHETE','OTHER KNIFE','RAZOR BLADE','SWITCH BLADE','SWORD','CLEAVER',
        'DIRK/DAGGER','RAZOR','STRAIGHT RAZOR'
]

Blunt_Objects = [
        'CLUB/BAT','CONCRETE BLOCK/BRICK','HAMMER','PIPE/METAL PIPE','ROCK/THROWN OBJECT','STICK','BLUNT INSTRUMENT','BLACKJACK'
]

Chemical_Weapons = ['CAUSTIC CHEMICAL/POISON','MACE/PEPPER SPRAY']

Explosives = ['BOMB THREAT']

Firearms = [
        'AIR PISTOL/REVOLVER/RIFLE/BB GUN','ANTIQUE FIREARM','ASSAULT WEAPON/UZI/AK47/ETC','AUTOMATIC WEAPON/SUB-MACHINE GUN',
        'HAND GUN','HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE','HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE','M1-1 SEMIAUTOMATIC ASSAULT RIFLE',
        'M-14 SEMIAUTOMATIC ASSAULT RIFLE','MAC-10 SEMIAUTOMATIC ASSAULT WEAPON','MAC-11 SEMIAUTOMATIC ASSAULT WEAPON','OTHER FIREARM','RELIC FIREARM',
        'REVOLVER','RIFLE','SAWED OFF RIFLE/SHOTGUN','SEMI-AUTOMATIC PISTOL','SEMI-AUTOMATIC RIFLE','SHOTGUN','SIMULATED GUN','STARTER PISTOL/REVOLVER',
        'STUN GUN','TOY GUN','UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE','UNKNOWN FIREARM','UZI SEMIAUTOMATIC ASSAULT RIFLE'
]

other = [
        'BELT FLAILING INSTRUMENT/CHAIN','BOARD','BOTTLE','BOW AND ARROW','BRASS KNUCKLES','DEMAND NOTE',
        'DOG/ANIMAL (SIC ANIMAL ON)','EXPLOXIVE DEVICE','FIRE','FIXED OBJECT','GLASS','ICE PICK','LIQUOR/DRUGS','MARTIAL ARTS WEAPONS',
        'OTHER CUTTING INSTRUMENT','PHYSICAL PRESENCE','ROPE/LIGATURE','SCALDING LIQUID','SCISSORS','SCREWDRIVER','STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)',
        'SYRINGE','TIRE IRON','Unknown','UNKNOWN TYPE CUTTING INSTRUMENT','UNKNOWN WEAPON/OTHER WEAPON','VEHICLE','VERBAL THREAT'
]

#Creating a function which will categorize each weapon
def weapon_standardization(weapon):
        if weapon == 'Unknown':
                return 'Unknown'
        elif weapon in Bladed_Weapons:
                return 'Bladed Weapons'
        elif weapon in Blunt_Objects:
                return 'Blunt Objects'
        elif weapon in Chemical_Weapons:
                return 'Chemical Weapons'
        elif weapon in Explosives:
                return 'Explosives'
        elif weapon in Firearms:
                return 'Firearms'
        elif weapon in other:
                return 'Other Weapons'
        else:
                return 'Uncategorized'

#Applying function to the weapon used column     
df_cleaned['Weapon Used'] = df_cleaned['Weapon Used'].apply(weapon_standardization)

#Saving cleaned dataset for other uses.
df_cleaned.to_csv('LA Crime Data - Cleaned.csv')

In [174]:
#Standardizing the time occurred column values

df_cleaned['Time Occurred'] = df_cleaned['Time Occurred'].astype(str).str.zfill(4)

def time_fixer(time):
    return f'{time[:2]}:{time[2:]}'

df_cleaned['Time Occurred'] = df_cleaned['Time Occurred'].apply(time_fixer)
df_cleaned['Time Occurred'] = pd.to_datetime(df_cleaned['Time Occurred'], format='%H:%M').dt.strftime('%I:%M %p')